.DS_Store
*.psd
design-reference/*.psd
design-reference/*.docx
Vibrationsgraphics/
HITIT Mind Diet/
exerciseIcons/
untitled folder/
*.mov
*.mp4
*.docx
Vibrations Triangle WHITE Fixed.jpg
Tweaks.docx
HIT IT App Tweaks Round 1.docx
